@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --text-dark-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --gradient-violent: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);

  --divider: hsl(240, 5%, 91%);
}

html{
  font-size: 12px;
}

*,*::before,*::after{
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

img{
  max-width: 100%;
}

body{
  margin: 0;
  padding: 0;
}

.wrapper{
  min-height: 100vh;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding-block: 12rem;
}

.card__container{
  width: 87%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 100%;
  max-width: 450px;
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 8rem 3rem;
  box-shadow: 0px 20px 50px -10px hsla(238, 29%, 16%, 0.5);
  z-index: 0;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.illustration{
  position: absolute;
  width: clamp(210px, 60vw, 275px);
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.illustration-shadow{
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: clamp(210px, 60vw, 275px);
  height: 125px;
  position: absolute;
  top: -90px;
  z-index: -1;
}
aside{
  width: 100%;
}

h1{
  text-align: center;
  font-size: 3rem;
  color: var(--text-dark-blue);
}


.q-container{
  border-bottom: 1px solid var(--divider);
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
  transition: all 0.25s;
}
.question:hover{
  color: var(--text-soft-red);
}
.question.selected{
  font-weight: 700;
  color: var(--text-dark-blue);
}
.inverted{
  transform: scaleY(-1);
}

.answer{
  color: var(--dark-grayish-blue);
  font-weight: 400;
  font-size: 1.05rem;
  margin-right: 2rem;
  line-height: 1.5rem;
  display: none;
}
.show{
  display: block;
}

@media (min-width: 900px){
  .wrapper {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{
    max-width: 950px;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    height: 506px;
  }

  section{
    width: 50%;
    height: 506px;
    background: url(images/illustration-woman-online-desktop.svg) bottom 75px left -85px, url(images/bg-pattern-desktop.svg) bottom -150px left -575px;
    background-repeat: no-repeat;
  }
  section::after{
    position: absolute;
    content: '';
    background-image: url(images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    left: -95px;
    bottom: 100px;
    width: 40%;
    height: 40%;
    animation: hop 2s ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes hop {
    0%{
      transform: translateY(1%);
    }    
    50%{
      transform: translateY(5%);
    }
    100%{
      transform: translateY(1%);
    }
  }

  .illustration{
   display: none;
  }
  .illustration-shadow{
    display: none;
  }
  aside{
    height: 100%;
    width: 50%;
    align-self: flex-start;
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: clamp(3rem, 5vw, 7rem);
  }
  h1{
    text-align: left;
    margin-block: 0 3rem;
  }
  .question{
    margin-block: 1.25rem;
    font-size: 1.2rem;
  }
  h2 img{
    margin-right: 1rem;
  }
}